<header class=heading>
  <img  style="height:80px; width:300px; display:flex; justify-content:center; filter: brightness(2);" src="/assets/63dd43af-dd97-47a0-a7f9-48812dbc7b55.jpg">
</header>
<div class="content">
<div class="image-container">
  <img  style="height:400px; width: 102%; padding-top: 20px; margin: 0" src="/assets/background-realistic-abstract-technology-particle_23-2148431735.avif">
  <!-- <div class="centered-text"> About Meta DBIT</div> -->
</div>
<!-- <div class="items">
  <a href="#"> Homepage | About Meta DBIT </a>
  <a href="#"> About Meta DBIT </a>
</div> -->

<ng-container class="body">

<h1 style="display: flex; justify-content: center;">introduction</h1>
<div class="intro-container">
  <img class="img_deg" src="/assets/p-about-owl_item_1.jpg">
  <div class="intro-text">
  <h3 >THINK ABOUT TECHNOLOGY - CHOOSE US</h3>
  <P > Established in 2024, Meta DBIT is a specialized company authorized to offer a range of IT services and solutions focused on Oracle products. Our comprehensive services include technical support for both hardware and software, implementation services, and technical consulting. We also provide data analysis, advanced installation for hardware and software, and rental services. With a primary goal of delivering exceptional service to our clients, MPS is dedicated to continuously advancing and refining our technology and operational processes. This commitment ensures that we optimize business performance and deliver the highest quality solutions to meet our customers' needs effectively.</P>
</div>
</div>


<h1 style="display:flex; justify-content:center;">History Highlights</h1>

<div class=" content-wrapper">
  <img class="img_deg2" src="/assets/p-about-stories_1.jpg" alt="Buildings">
  <div class=" intro-text1">
  <h3>FOUNDATION OF META DBIT</h3>
  <P >MetaDBIT Company was established in early 2024, marking the start of our dedicated focus on IT services and solutions. That same year, we earned the Oracle FDA certificate in Vietnam. This achievement underscores our commitment to delivering high-quality Oracle solutions and demonstrates our capability to meet rigorous industry standards.</P>
</div>
</div>


<div class="intro-container" >
  <img class="img-deg3" src="/assets/p-about-stories_4.jpg">
  <div class="intro-text">
  <h3 >Expansion with Red Hat and RackWare</h3>
  <p >MetaDBIT has officially partnered with Red Hat and RackWare, broadening our range of product offerings. This collaboration enhances our enterprise solutions by incorporating advanced cloud migration, management services, and robust support for open-source software. These partnerships strengthen our capability to deliver comprehensive IT solutions and services.</p>
</div>
</div>


<!-- <footer> -->
<div class="signup-container">
  <img style="width:40px;  height:40px; margin-left:10px;" src="/assets/th (3).jpg">
  <div class="signup-text">
    <span> Sign up for</span>
  </div>
  <div class="signup-form">
    <input type="email" placeholder="Enter your email"/>
    <button type="sunmit">Register</button>
    </div>
    <!-- <div class="technical-support-section"> -->
    <img style="width:20px; height:20px; margin-left:150px; gap:10px;" src="/assets/download.png">
     <span class="span-text"> Technical Support : +91 9985757532;</span> 
<!-- </div> -->
</div>
<!-- </footer> -->


<div class="info-section">
  <div class="info-content">

    <div class="registration-address">
      <h3>MetaDBIT Company</h3>
     <p>Tax code : 0107283022</p>
   </div>
        <div class="registration-address">
          <h4> REGISTRATION ADDRESS</h4>
  <p><strong>Adderss:</strong> 2nd floor , AmeerMastani Mansion,
    5-10-14/47,
    Sattenapalli,
    Guntur District,
    Andhra pradesh- India 522403 </p>
  <p><strong>phone:</strong> +91 9985757532  </p>
  <p><strong>Email:</strong>info&#64;metadbit.com</p>
  </div>

  <div class="main-menu">
    <h4>MAIN MENU</h4>
    <ul>
      <nav>
      <li><a href="#">HomePage</a> </li>
      <li><a href="#">Service</a> </li>
      <li><a href="#">Patners</a> </li>
      <li><a href="#">Contact</a> </li>
    </nav>
    </ul>
  </div>
</div>
</div>

<div class="copyright">
  <p>Copyright &copy;  2024 METADBIT</p>
</div>


</ng-container>

<router-outlet></router-outlet>
